version: "3.8"

services:
  db:
    image: postgres
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    expose:
      - "5432"

  pghero:
    image: ankane/pghero
    ports:
      - "8080:8080"
    expose:
      - "8080"
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/postgres
    depends_on:
      - db

  pgadmin:
    image: dpage/pgadmin4
    container_name: demo-pgadmin
    depends_on:
      - db
    ports:
      - "5051:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin4@pgadmin.org
      PGADMIN_DEFAULT_PASSWORD: root
    restart: always

  redis:
    image: "redis"
    ports:
      - "6379:6379"
    expose:
      - "6379"

  web:
    build: .
    command: bash startup.sh
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    expose:
      - "8000"
    environment:
      - REDIS_HOST=redis
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    depends_on:
      - db
      - redis
    links:
      - db:db
      - redis:redis